<div class="row">
  <div class="col-md-4">
    <a href="/admin/books">Manage Books</a>
    <!-- search books -->
    <h4>Search for a book:</h4>
    <form action="/search" method="post">
      <div class="col-md-12">
        <div class="form-group">
          <label for="search_query">Search:</label>
          <input id="search_query" name="search_query" class="form-control" type="text">
          <input name="_method" value="get" type="hidden">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

   <% if @books %>
    <ul>
      <% @books.each() do | book | %>
      <li><%= book.name %></li>
      <% end %>
    </ul>
   <% end %>
  </div>
  <div class="col-md-4">
    <a href="/admin/authors">Manage Authors</a>
    <h4>Search for an author</h4>
    <form action="/search/authors" method="post">
    </form>
    <% if @authors %>
     <ul>
       <% @authors.each() do | author | %>
       <li><%= author.name %></li>
       <% end %>
     </ul>
    <% end %>
  </div>
  <div class="col-md-4">

  </div>
</div>
