<div class="row">
  <div class="row">
    <form action="" method="post">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">Add Author</label>
          <input id="name" name="name" class="form-control" type="text">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <h2>Author List</h2>
    <% if @authors.any? %>
      <ul>
        <% @authors.each() do | author | %>
          <li>
            <div class="row">
              <div class="col-md-3">
                <%= author.name %>
              </div>
              <form action="/admin/authors/<%= author.id %>/edit">
                <div class="col-md-1">
                  <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                </div>
              </form>
              <form action="/admin/authors/<%= author.id %>/delete" method="post">
                <div class="col-md-1">
                  <input name="_method" type="hidden" value="delete">
                  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
              </form>
            </div>
          </li>
        <% end %>
      </u>
    <% end %>
  </div>
</div>
